

<suite name="Suite">
 <parameter name="browsername" value="chrome"/>
 
   <test name="LoginTest" enabled = "false">
      <groups>
    <run>
      <include name = "regression"/>
    </run>
  </groups>
    <classes>
       <class name="tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="AlertTest" enabled = "true">
      <groups>
    <run>
      <include name = "regression"/>
    </run>
  </groups>
    <classes>
      <class name="tests.AlertTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
